<div id="aboutUs">
    <h1>About Us</h1>
</div>
<div id="imgAboutView">
    <img id="imgAboutUs">
</div>
<div id="descriptionAboutUsFirst">
    <span> HiBook is a Social Network for those who loves and enjoying reading and want to make a community to share some good books and thoughts.</span>
</div>
<span id="secondAbout">Here is a good place to read about any topic and discuss based on respect!</span>

<div>
    <img id="rectangleAbout">
</div>
<span id="madeInc">HiBook! made inc 2020 by</span><span class="names">Stephanie Jolianis & Daniela Mantilla </span>