<div id="contentSkip">
    <a href="#/" id=btnSkip><span>SKIP</span></a>
</div>
<div id="contentAboutUs">
    <h2 id="tittleAbout">About Us</h2>
    <p class="pAbout">
        HiBook is a Social Network for those who loves and enjoying reading and want to make a community to share some good books and thoughts.
    </p>
    <img id="imgAboutUs">

    <p class="pAbout">
        Here is a good place to read about any topic and discuss based on respect
    </p>

</div>

<div id="footerViewPost">
    <span id="span1Footer">HiBook! made inc 2020 by</span>
    <span id="span2Footer">Stephanie Jolianis & Daniela Mantilla </span>
</div>