<button class="button" id="back"><a href="#/">Back</a></button>
<span class="headSign">Sign up to</span>
<h1 class="tittleWtb">What the Book</h1>
<div class="primaryInfo">

    <span class="headSign">with</span>
    <div class="formulary">
        <div class="google1">
            <img id="imgGoogle">
            <input type="text" class="google" id="google" placeholder="Google"></input>
        </div>

        <div class="facebook1">
            <img id="imgFacebook">
            <input type="text" class="facebook" id="facebook" placeholder="Facebook"></input>
        </div>

        <div class="divLine">
            <hr class="line1" />
            <span class="or">or</span>
            <hr class="line1" />
        </div>

        <span>Login</span>
        <div class="contentUser">
            <div class="divUser">
                <input type="text" class="username" id="username" placeholder="Username"></input>
            </div>
            <span class="forgot">Forgot Username</span>
        </div>

        <div class="contentPassword">
            <div class="divPassword">
                <input type="text" class="password" id="password" placeholder="Password"></input>
            </div>
            <span class="forgot">Forgot Password</span>
        </div>


    </div>

    <div class="signUpAccount">
        <span class="signUp">Don’t have an account</span>
        <span class="signUp1">Sign Up!</span>
    </div>

</div>

<button class="button" id="createAccount"><a href="#/createAccount">Create Account</a></button>