<div id="contentSkip">
    <a href="#/" id=btnSkip><span>SKIP</span></a>
</div>
<div id="contentAboutUs">
    <h2 id="tittleAbout">Contact Us</h2>
    <p class="pAbout">
        We are here to help and answer any questions you might have. If you have suggestions about other topics you would like to see on this site, please send us an email to laboratoriabog001@gmail.com or whatsapp with:
    </p>

    <div id="contentContactImg">
        <div class="contact">
            <a href="https://api.whatsapp.com/send?phone=573003751437&text=Hi%20Stephanie,%20I%20want%20to%20receive%20more%20information%20about%20HiBook!">
                <img id="imgStefy" width="50px" height="50px"></a>
            <span class="contactName">Stephanie Jolianis</span>
        </div>
        <div class="contact">
            <a href="https://api.whatsapp.com/send?phone=573142414641&text=Hi%20Daniela,%20I%20want%20to%20receive%20more%20information%20about%20HiBook!">
                <img id="imgDani" width="50px" height="50px"></a>
            <span class="contactName">Daniela Mantilla</span>
        </div>
    </div>

    <a href="https://www.google.com.co/maps/place/Bogot%C3%A1/@4.6486259,-74.2478922,11z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9bfd2da6cb29:0x239d635520a33914!8m2!3d4.7109886!4d-74.072092?hl=es-419&authuser=0" target="_blank" id="linkUbication">
        <div id="contentUbication">
            <img id="iconUbication" width="30px" height="30px">
            <p class="pAbout">
                Bogotá, Colombia
            </p>
        </div>
    </a>
</div>

<div id="footerViewPost">
    <span id="span1Footer">HiBook! made inc 2020 by</span>
    <span id="span2Footer">Stephanie Jolianis & Daniela Mantilla </span>
</div>