<button class="button" id="back"><a href="#/account">Back</a></button>

<h1 class="tittleCreate">Create a WTB account</h1>

<div class="primaryInfo1">

    <div class="formulary1">

        <div class="contentUser">
            <span class="forgot">Name</span>
            <div class="divUser">
                <input type="text" class="name" id="name" placeholder=""></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Username</span>
            <div class="divUser">
                <input type="text" class="username" id="username" placeholder=""></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Email</span>
            <div class="divUser">
                <input type="text" class="email" id="email" placeholder="example@mail.com"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Password</span>
            <div class="divUser">
                <input type="text" class="password" id="password" placeholder="6+ characters"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Confirm your Password</span>
            <div class="divUser">
                <input type="text" class="confirmPass" id="confirmPass" placeholder="Username"></input>
            </div>
        </div>

    </div>
</div>

<button class="button" id="create"><a href="#/avatar">Create</a></button>