<div class="contentView1">
    <figure id="figureLogo"><img id="logo"></figure>
    <div class="mainText1">
        <span id="spanView1">The best place to discover, organize, read, and engage with books
    </span>
        <span id="spanView2">Join HiBook Today!</span></div>
    <div class="principalButtons">
        <a href="#/signup"><button id="sign">Sign Up</button></a>
        <a href="#/login"><button id="login">Login</button></a></div>
</div>

<div class="footer">

    <figure id="imgLogoViewDesktop1">
        <img id="imgLogoDesktop">
    </figure>

    <div class="contentImgView1">

        <div class="divImgView1">
            <figure id="imgView1Desktop"><img class="imgView1" id="imgBooks"></figure><span class="spanViewDesktop">The best reading experience available on any computer, tablet, and smartphone. Read anywhere, anytime.</span></div>


        <div class="divImgView1">
            <figure id="imgView1Desktop"><img class="imgView1" id="imgCommunity"></figure><span class="spanViewDesktop">Reading is more fun and motivating together.</span></div>

        <div class="divImgView1">
            <figure id="imgView1Desktop"><img class="imgView1" id="imgShop"></figure><span class="spanViewDesktop">Discover the best books online and support local bookstores.</span></div>
    </div>



    <a href="#/aboutus" class="aboutViewDefault"><span id="aboutHiBook">About Us</span></a>
    <a href="#/contactus" class="aboutViewDefault"><span id="contactUs">Contact Us</span></a>

</div>