<figure class="banner">
    <img id="imgBanner1">
</figure>
<div class="primaryInfo">
    <h3 class="subtittle">A book store</h3>
    <p class="paragraph">Here you can find a great selection of books to add to your collection</p>
    <h3 class="subtittle">A reading platform</h3>
    <p class="paragraph">Do you want to read something but have no money? we also have a free selection</p>
    <h3 class="subtittle">A community</h3>
    <p class="paragraph">Meet and share with other readers like you</p>
</div>
<button class="button" id="next"><a href="#/account">Next >> </a></button>