<div id="phraseViewLogin">
    <span id="span1ViewLogin">“Literature is always an expedition to the truth.”</span>
    <span id="span2ViewLogin"> – Franz Kafka.</span>
</div>

<div id="contentView2">
    <img id='logoView2'>
    <div id="contentformLogin">
        <div class="contentSingUpLogin"><span id="loginView2">Login</span></div>
        <form id="formView2">

            <div class="divInputView2">
                <div class="divBackgroundInputView2">
                    <input type="text" class="inputView2" id="username" placeholder="Email or Username"></input>
                </div>
            </div>

            <div class="divInputView2">
                <div id="inputPasswordView2" class="divBackgroundInputView2">
                    <input type="password" class="inputView2" id="password" placeholder="Password"></input>
                    <img id="eyePassword">
                </div>
                <div id="passwordReminder">
                    <span id="forgotView2">Forgot Password?</span>
                </div>
            </div>
            <button id="loginViewButton">Login</button>
        </form>
        <figure id="socialMedia">
            <img id="faceButton">
            <img id="googleButton">
        </figure>
        <div>
            <span class="spanCreateAccount" id="spanCreateAccFirst">Don't have an account yet?</span>
            <a href="#/signup" id="spanCreateAccSecond"><span class="spanCreateAccount" >Sign Up</span></a>

        </div>
    </div>
</div>