<div class="contentPost" id="divPostId">
    <label id="username">Sofi</label>
    <button class="editPost" id="editPostButton" data-id="dataid">Edit</button>


    <button class="deletePost" id="deletePostButton" data-id="dataid">Delete</button>
    <p id="textPost"></p>
    <textarea class="editPostArea" id="editPost" cols="30" rows="2"></textarea>
    <p id="labelStatus"></p>
    <button id="like">Like</button>
    <span id="counterLikes">0 Likes</span>
    <!--Mostrar popup para comentarios asociado al evento click en el btn comment--- 
    <Mostrar popup para comentarios asociado al evento click en el btn viewComments----->
    <button id="viewComments">View Comments</button>
    <button id="comment">Comment</button>
</div>