<div id="userInfoPost">
    <span id="userSessionName">Username</span><span></span>
    <img id="settingsViewPosts">
    <button id="btnLogout">Logout</button>
    <a href="#/newPost">
        <img id="imgNewPost">
    </a>
</div>

<div>
    <!-- <form id="formPost">
        <textarea id="textPost" cols="30" rows="5" placeholder="What are you thinking?" autofocus></textarea>
        <button id="save">Save</button>
    </form> -->

    <div id="listPosts">
    </div>
</div>

<div id="footerViewPost">
    <span id="span1Footer">HiBook! made inc 2020 by</span>
    <span id="span2Footer">Stephanie Jolianis & Daniela Mantilla </span>
</div>