<div id="userInfoPost">
    <div id="contentInfoUser">
        <span id="userSessionName">Username</span><span></span>

        <img id="settingsViewPosts">
        <div id="settingsUser">
            <a href="#/profileUser" id="btnEdit"><span id="editProfileUser">Edit Profile</span></a>
            <span id="btnLogout">Logout</span>
        </div>
    </div>
    <a href="#/newPost">
        <img id="imgNewPost">
    </a>

</div>

<div>


    <div id="listPosts">
    </div>
</div>

<div id="footerViewPost">
    <span id="span1Footer">HiBook! made inc 2020 by</span>
    <span id="span2Footer">Stephanie Jolianis & Daniela Mantilla </span>
</div>