<h1>Aqui van los posts</h1>
<button id="btnLogout">Logout</button>
<div>
    <form id="formPost">
        <label id="username">Sofi</label>
        <button id="editPost">Edit</button>
        <button id="removePost">Remove</button>
        <input type="text" id="textPost" placeholder="What are you thinking?" autofocus></input>
        <button id="viewComments">View Comments</button>
        <button id="comment">Comment</button>
        <button id="like">Like</button>
        <!-- ---Mostrar popup para comentarios asociado al evento click en el btn comment--- 
        ---Mostrar popup para comentarios asociado al evento click en el btn viewComments--- -->
    </form>
</div>