<div id="headProfile">
    <a href="#/posts" id="backProfile"><span>Back</span></a>
</div>

<div id="divAvatarUsername">
    <img id="userAvatarProfile">
</div>

<form id="contentInfoProfile">

    <label class="tittleProfile">Name</label>
    <input type="text" class="textProfile" placeholder="Sofi Bonilla Jolianis" disabled>

    <label class="tittleProfile">Phone Number</label>
    <input type="text" class="textProfile" placeholder="35248574" disabled>

    <input type="submit" value="Edit Profile" id="btnEditProfile">

</form>


<div id="contentPhrase">
    <h5 id="phraseProfile">Phrase of the month</h5>
    <span id="textPhrase">“I read a book one day and my whole life was changed.” – Orhan Pamuk </span>
</div>

<div id="footerViewPost">
    <span id="span1Footer">HiBook! made inc 2020 by</span>
    <span id="span2Footer">Stephanie Jolianis & Daniela Mantilla </span>
</div>