<!-- <figure id="backBotton">
    <a href="#/"><img id="back"></a>
</figure> -->
<div id="contentView3">
    <img id="logoView3">
    <div class="contentSingUpLogin"><span id="singUpView3">Sign Up</span></div>
    <form id="formView3">
        <div class="contentUser">
            <span class="spanView3">Username</span>
            <div class="divBackgroundInputView3">
                <input type="text" class="inputView3" id="username" placeholder=""></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="spanView3">Email</span>
            <div class="divBackgroundInputView3">
                <input type="text" class="inputView3" id="email" placeholder="example@mail.com"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="spanView3">Password</span>
            <div class="divBackgroundInputView3">
                <input type="text" class="inputView3" id="password" placeholder="6+ characters"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="spanView3">Confirm Password</span>
            <div class="divBackgroundInputView3">
                <input type="text" class="inputView3" id="confirmPass"></input>
            </div>
        </div>
        <button id="signUpViewButton">Sign Up</button>
    </form>
    <figure id="socialMedia"><img id="faceButton"> <img id="googleButton"></figure>
</div>