<div>
    <img id="logoView3">
    <form>
        <div class="contentUser">
            <span class="forgot">Name</span>
            <div class="divUser">
                <input type="text" class="imputView3" id="name" placeholder=""></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Username</span>
            <div class="divUser">
                <input type="text" class="imputView3" id="username" placeholder=""></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Email</span>
            <div class="divUser">
                <input type="text" class="imputView3" id="email" placeholder="example@mail.com"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Password</span>
            <div class="divUser">
                <input type="text" class="imputView3" id="password" placeholder="6+ characters"></input>
            </div>
        </div>

        <div class="contentUser">
            <span class="forgot">Confirm your Password</span>
            <div class="divUser">
                <input type="text" class="imputView3" id="confirmPass" placeholder="Username"></input>
            </div>
        </div>
    </form>
</div>