            body {
                margin: 0%;
            }
            
            .mainView1 {
                background-image: url(img/backgroundView1.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                position: absolute;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .contentView1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .principalButtons {
                display: flex;
                flex-direction: column;
                margin-top: 8%;
                justify-content: space-around;
                height: 100px;
            }
            
            #login {
                width: 285px;
                height: 38px;
                left: 38px;
                top: 305px;
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                border-color: #F19048;
                color: #F19048;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                text-decoration: none;
            }
            
            #sign {
                width: 285px;
                height: 38px;
                left: 38px;
                top: 305px;
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                border: none;
                color: white;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
            }
            
            #aboutHiBook,
            #contactUs {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: rgba(0, 0, 0, 0.31);
                margin-top: 12%;
            }
            
            .mainText1 {
                display: none;
            }
            
            #imgView1Desktop {
                display: none;
            }
            
            #imgLogoViewDesktop1 {
                display: none;
            }
            
            .spanViewDesktop {
                display: none;
            }
            
            .mainView2 {
                background-image: url(img/backgroundView2.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                position: absolute;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .mainView3 {
                background-image: url(img/backgroundView3.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                position: absolute;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .divBackgroundInputView2,
            .divBackgroundInputView3 {
                /* position: absolute; */
                display: flex;
                align-content: center;
                justify-content: center;
                width: 254px;
                height: 43px;
                left: 45px;
                top: 277px;
                background: #FEFEFE;
                border: 1px solid rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
            }
            
            .inputView2,
            .inputView3 {
                border: none;
                outline: none;
                font-family: "Roboto", sans-serif;
                text-align: center;
            }
            
            #loginView2 {
                position: absolute;
                width: 60px;
                height: 28px;
                left: 264px;
                top: 215px;
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: #D6556B;
            }
            
            #singUpView3 {
                position: absolute;
                width: 110px;
                height: 28px;
                left: 200px;
                top: 180px;
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                color: #D6556B;
            }
            
            .spanView3 {
                font-family: "Roboto", sans-serif;
                color: #333333;
            }
            
            #formView3 {
                margin-top: 50px;
            }
            
            #loginViewButton,
            #signUpViewButton {
                width: 254px;
                height: 38px;
                left: 38px;
                top: 305px;
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                border: none;
                color: white;
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                margin-top: 50px;
            }
            
            #logoView2 {
                position: absolute;
                left: 94px;
                top: 33px;
            }
            
            #formView2 {
                margin-top: 200px;
            }
            
            #socialMedia {
                display: flex;
                justify-content: space-around;
                align-content: flex-end;
                margin-top: 20px;
            }
            
            #inputPasswordView2 {
                margin-top: 10px;
            }
            
            .spanCreateAccount {
                font-family: roboto;
                font-size: medium;
            }
            
            #spanCreateAccFirst {
                color: #969696;
                font-weight: 500;
            }
            
            #spanCreateAccSecond {
                color: #DD5A6A;
                font-weight: 700;
            }
            
            #forgotView2 {
                font-family: roboto;
                color: #969696;
                font-size: 12px;
                margin-top: 10px;
            }
            
            #passwordReminder {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            
            #invalidPass {
                position: absolute;
                width: 70%;
                text-align: center;
                font-family: roboto;
                font-size: x-small;
                font-weight: 700;
                color: #DD5A6A;
            }
            /* PopUps ----------------------------------------------> */
            
            .overlay {
                background: rgba(0, 0, 0, 0.3);
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                visibility: hidden;
            }
            
            .overlay.active {
                visibility: visible;
            }
            
            .popup {
                background: white;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                font-family: 'Roboto', Serif;
                padding: 20px;
                text-align: center;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .popup .btnClosePopup {
                display: block;
                text-align: right;
            }
            
            #tittlePopup {
                margin-bottom: 0px;
            }
            
            #textPopup {
                margin-bottom: 20px;
            }
            
            #closePopup {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                color: white;
                font-size: 15px;
                font-family: "Roboto", sans-serif;
                padding: 5px;
                border: none;
                width: 100px;
            }
            
            .editPostArea {
                display: none;
            }
            
            #eyePassword {
                width: 15px;
                opacity: 50%;
                height: 20px;
                align-self: center;
            }
            
            .deletePost {
                display: none;
                width: 20px;
                height: 20px;
                opacity: 70%;
            }
            
            .editPost {
                display: none;
                width: 20px;
                height: 20px;
                opacity: 70%;
            }
            
            #listPosts {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20vw;
                margin-bottom: 12vw;
                color: #333333;
            }
            
            .contentPost {
                width: 100%;
                margin-bottom: 5vw;
                display: flex;
                justify-content: space-around;
            }
            
            .contentNameButton {
                display: flex;
                width: 30%;
                flex-direction: column;
                align-items: center;
            }
            
            .divPost {
                width: 100%;
                align-items: center;
                display: flex;
                margin-top: 5vw;
                flex-direction: column;
            }
            
            .contentButtons {
                display: flex;
                justify-content: space-around;
                width: 40%;
            }
            
            #linePost {
                width: 100%;
            }
            
            #containerPost {
                font-family: "Roboto", serif;
            }
            
            #textPost {
                font-family: 'Lora', Serif;
                padding-top: 6vw;
                width: 90%;
                border: none;
                outline: none;
            }
            
            #like {
                width: 20px;
            }
            
            #userInfoPost {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                padding: 2%;
                display: flex;
                justify-content: space-around;
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 1000;
            }
            
            #contentInfoUser {
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            #counterLikes {
                font-size: small;
                opacity: 50%;
            }
            
            #contentLikes {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 23%;
            }
            
            #userSessionName {
                color: white;
                font-weight: bold;
                margin-left: 10%;
            }
            
            #formPost {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20vw;
            }
            
            #save {
                width: 20%;
            }
            
            #usernamePost {
                font-weight: 600;
                color: #E78559;
                text-align: center;
            }
            
            #contentImgAndUsername {
                display: flex;
                align-items: center;
            }
            /* Popup Delete --------------------------------> */
            
            .divViewPopUpDelete {
                background: rgba(0, 0, 0, 0.3);
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                visibility: hidden;
            }
            
            .divViewPopUpDelete.active {
                visibility: visible;
            }
            
            .deleteAlert {
                background: white;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                font-family: 'Roboto', Serif;
                padding: 20px;
                text-align: center;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            #btnCancel {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                color: white;
                font-size: 15px;
                font-family: "Roboto", sans-serif;
                padding: 5px;
                border: none;
                width: 80px;
            }
            
            #btnDelete {
                background: white;
                box-shadow: 0px 4.3937px 4.3937px rgba(0, 0, 0, 0.25);
                border-radius: 21.9685px;
                border-color: #EDA14E;
                color: #E06665;
                font-size: 15px;
                font-family: "Roboto", sans-serif;
                padding: 5px;
                width: 80px;
            }
            
            #tittleAlert {
                margin-bottom: 0px;
            }
            
            #spanAlert {
                margin-bottom: 20px;
            }
            
            #aboutUs {
                display: flex;
                top: 20px;
                position: absolute;
                width: 188px;
                left: 98px;
                font-family: Roboto;
                font-size: 20px;
                text-align: center;
                color: #EFA840;
            }
            
            #descriptionAboutUsFirst {
                top: 100px;
                left: 30px;
                position: absolute;
                width: 279px;
                line-height: 18px;
                font-family: Roboto;
                font-size: 14px;
                text-align: center;
                color: #969696;
            }
            
            #imgAboutView {
                position: relative;
                top: 170px;
                width: 350px;
                height: 350px;
                display: flex;
                align-content: flex-end;
                right: 20px;
            }
            
            #secondAbout {
                bottom: 100px;
                left: 30px;
                position: absolute;
                width: 279px;
                font-family: Roboto;
                font-size: 14px;
                text-align: center;
                color: #969696;
            }
            
            #rectangleAbout {
                bottom: 0px;
                position: absolute;
                width: max-content;
                height: 70px;
            }
            
            #madeInc {
                position: absolute;
                width: 278px;
                height: 34px;
                font-family: Roboto;
                font-size: 12px;
                text-align: center;
                right: 40px;
                bottom: 28px;
                color: white;
            }
            
            .names {
                width: 278px;
                height: 18px;
                font-family: Roboto;
                font-size: 11px;
                text-align: center;
                right: 40px;
                color: white;
                position: absolute;
                bottom: 28px;
            }
            
            #imgNewPost {
                border-radius: 100%;
                position: fixed;
                z-index: 1000;
                top: 75%;
                right: 10%;
                width: 18%;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
            }
            
            #footerViewPost {
                background: linear-gradient(90deg, #EEADB4 0%, #F3C4AB 54.17%, #F8D6A4 99.97%, #F1B048 99.98%, rgba(214, 85, 210, 0) 99.99%);
                padding-top: 2%;
                padding-bottom: 3%;
                display: flex;
                justify-content: space-around;
                position: fixed;
                width: 100%;
                z-index: 1000;
                top: 92%;
                color: white;
                font-size: small;
                font-family: 'Lora', Serif;
                flex-direction: column;
                align-items: center;
            }
            
            .contentPostBtns {
                width: 60%;
                margin-right: 10%;
            }
            
            #avatarUser {
                width: 60px;
                height: 60px;
                border-radius: 100px;
            }
            
            .btnsPost {
                display: flex;
                justify-content: space-between;
            }
            
            #settingsUser {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                position: fixed;
                z-index: 1000;
                padding: 5%;
                top: 10%;
                height: 80px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                color: white;
                font-weight: 600;
                align-items: center;
                border-radius: 5px;
                margin-left: 50%;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
                display: none;
            }
            
            #divNewPost {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                padding: 5%;
                display: flex;
                justify-content: space-around;
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 1000;
                color: white;
                font-family: "roboto", sans-serif;
                font-weight: 600;
            }
            
            #userImgTextarea {
                width: 60px;
                height: 60px;
                padding-top: 20vw;
            }
            
            #newPost {
                display: flex;
                justify-content: center;
            }
            
            #aLink {
                text-decoration: none;
                color: white;
            }
            
            #btnsNewPost {
                width: 80%;
                display: flex;
                justify-content: space-between;
            }
            
            #btnEdit {
                text-decoration: none;
                color: white;
            }
            
            #divAvatarUsername {
                display: flex;
                justify-content: center;
                color: #DD5A6A;
                font-family: "roboto", sans-serif;
                font-weight: 600;
                font-size: 20px;
                align-items: center;
                padding-top: 20vw;
            }
            
            #userAvatarProfile {
                width: 80px;
                height: 80px;
                border-radius: 100px;
            }
            
            #contentInfoProfile {
                width: 90%;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-family: "roboto", sans-serif;
                margin-left: 5%;
            }
            
            .tittleProfile {
                color: #DD5A6A;
                width: 65%;
                padding-top: 10%;
            }
            
            .textProfile {
                color: #333333;
                padding: 10px;
                font-family: "roboto", sans-serif;
                text-align: center;
                border: none;
                background: white;
            }
            
            #headProfile {
                background: linear-gradient(270deg, #F1B048 0%, #DD5A6A 96.84%);
                padding: 5%;
                display: flex;
                justify-content: space-around;
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 1000;
                color: white;
                font-family: "roboto", sans-serif;
                font-weight: 600;
            }
            
            #backProfile {
                text-decoration: none;
                color: white;
                width: 90%;
            }
            
            #btnEditProfile {
                background: linear-gradient(90deg, #E16D62 0%, #F1AD49 104.15%);
                border-radius: 20px;
                width: 100px;
                padding: 12px;
                border: none;
                color: white;
                font-weight: 600;
                margin-top: 50px;
                outline: none;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
            }
            
            #contentPhrase {
                width: 80%;
                margin-left: 10%;
                font-family: "Lora", sans-serif;
                font-size: small;
                color: #8F8D8D;
                padding-top: 10vw;
            }
            
            #phraseProfile {
                color: #DD5A6A;
            }
            
            #contentAboutUs {
                width: 80%;
                margin-left: 10%;
                padding-top: 5vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "roboto", sans-serif;
                color: #333333;
            }
            
            #contentSkip {
                height: 50px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                width: 90%;
            }
            
            #btnSkip {
                color: #F5B666;
                font-weight: 600;
                font-family: "roboto", sans-serif;
            }
            
            #tittleAbout {
                color: #F5B666;
            }
            
            .pAbout {
                text-align: center;
            }
            
            #contentContactImg {
                padding: 50px;
                display: flex;
                width: 80%;
            }
            
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            
            .aboutViewDefault {
                text-decoration: none;
            }
            
            .contactName {
                color: #969696;
            }
            
            #contentUbication {
                display: flex;
                font-size: smaller;
                padding: 20px;
            }
            
            #linkUbication {
                text-decoration: none;
                color: #969696;
            }
            
            #spanCreateAccSecond {
                text-decoration: none;
            }
            
            #phraseViewSignUp,
            #phraseViewLogin {
                display: none;
            }
            
            @media screen and (min-width:800px) {
                body {
                    margin: 0;
                }
                .mainView1 {
                    background-image: none;
                    flex-direction: row-reverse;
                    justify-content: space-around;
                    position: relative;
                }
                .mainText1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .footer {
                    height: 100%;
                    width: 50%;
                    background: linear-gradient(152.68deg, #E46C54 0%, #FDB23D 99.27%);
                }
                .contentView1 {
                    width: 50%;
                }
                .principalButtons {
                    margin-top: 0%;
                }
                #spanView1 {
                    font-size: 30px;
                    color: #333333;
                    Font-Family: 'Roboto', Sans-Serif;
                    width: 60%;
                    font-weight: 800;
                }
                #spanView2 {
                    margin-top: 12%;
                    Font-Family: 'Roboto', Sans-Serif;
                    font-size: small;
                    font-weight: 800;
                    color: #333333;
                }
                #figureLogo {
                    width: 60%;
                }
                #imgView1Desktop {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 15%;
                }
                #imgLogoViewDesktop1 {
                    display: flex;
                    justify-content: center;
                }
                #imgLogoDesktop {
                    width: 600px;
                    opacity: 90%;
                }
                .imgView1 {
                    width: 80px;
                    height: 80px;
                    margin: 3px;
                }
                .spanViewDesktop {
                    display: block;
                    width: 60%;
                    margin-top: 1.8em;
                    Font-Family: 'Roboto', Sans-Serif;
                    color: white;
                }
                .contentImgView1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .divImgView1 {
                    display: flex;
                    width: 60%;
                }
                .mainView2,
                .mainView3 {
                    background: white;
                }
                #contentView2,
                #contentView3 {
                    display: flex;
                    align-items: center;
                    /* flex-direction: column; */
                    margin-top: 0px;
                    padding: 50px;
                    border: #F19048 2px solid;
                    border-radius: 15px;
                }
                #formView2 {
                    margin-top: 0px;
                }
                #logoView2 {
                    position: relative;
                    left: 0px;
                    top: 0px;
                }
                #singUpView3 {
                    position: relative;
                    left: 250px;
                    top: -180px;
                    font-weight: 600;
                }
                #loginView2 {
                    position: relative;
                    top: -20px;
                    left: 180px;
                    font-weight: 600;
                }
                #faceButton {
                    margin-right: 30px;
                }
                #invalidPass {
                    position: absolute;
                    left: 0px;
                    width: 80%;
                    font-size: small;
                }
                #phraseViewSignUp,
                #phraseViewLogin {
                    display: flex;
                    padding-bottom: 50px;
                    flex-direction: column;
                    align-items: center;
                    font-family: "roboto", sans-serif;
                    font-weight: 600;
                    color: #736F6F;
                }
                #span2ViewSignUp,
                #span2ViewLogin {
                    font-size: small;
                }
            }