body {
    margin: 0;
    background-color: #342E2E;
}

.button {
    background-color: #F934A7;
    padding: 10px;
    color: #EDE8D8;
    width: 30%;
    margin-top: 40px;
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    background-image: url(img/1.png);
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

#imgBanner1 {
    width: 100%;
}

.primaryInfo,
.primaryInfo1 {
    background-color: #524D4C;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.primaryInfo1 {
    margin-top: 30px;
}

.subtittle,
.subtittle1 {
    Font-Family: 'Patua One', Cursive;
    Font-Size: 20px;
    color: #F934A7;
    text-align: center;
    margin: 15px;
}

.subtittle1 {
    margin-bottom: 0;
}

.paragraph,
.paragraph1 {
    Font-Family: 'Maven Pro', Sans-Serif;
    Font-Size: 16px;
    color: #EDE8D8;
    text-align: center;
    margin: 10px;
}

.formulary,
.formulary1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.formulary1 {
    margin-bottom: 50px;
}

.google1,
.facebook1,
.divUser,
.divPassword {
    display: flex;
    background-color: white;
    width: 12em;
    margin: 8px;
    border-radius: 5px;
    overflow: hidden;
}

.divUser,
.divPassword {
    display: flex;
    justify-content: center;
    margin: 0;
}

.contentUser,
.contentPassword {
    padding-top: 20px;
}

.google,
.facebook,
.username,
.password,
.email,
.name,
.confirmPass {
    border: none;
    outline: none;
    width: 12em;
    height: 2em;
}

::placeholder {
    text-align: center;
}

#imgGoogle,
#imgFacebook {
    height: 1.8em;
}

.divLine {
    display: flex;
    flex-direction: row;
    width: 80%;
    color: #F934A7;
    font-family: 'Roboto', Sans-Serif;
    font-size: smaller;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line1 {
    border-color: #F934A7;
    width: 30%
}

.forgot {
    color: #F6E5E5;
    opacity: 30%;
    Font-Family: 'Roboto', Sans-Serif;
    font-size: smaller;
    font-weight: bold;
}

.signUpAccount {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.signUp {
    Font-Family: 'Roboto', Sans-Serif;
    font-size: smaller;
}

.signUp1 {
    color: #F934A7;
    Font-Family: 'Roboto', Sans-Serif;
    font-size: smaller;
    font-weight: bold;
}

.headSign {
    color: #F6E5E5;
    Font-Family: 'Maven Pro', Sans-Serif;
    text-align: center;
    margin-top: 20px;
}

.tittleWtb {
    Font-Family: 'Patua One', Cursive;
    color: #F934A7;
}

.tittleCreate {
    Font-Family: 'Patua One', Cursive;
    color: #F934A7;
}

.tittleAvatar {
    Font-Family: 'Patua One', Cursive;
    color: #F934A7;
}

.avatarUser {
    margin-top: 50px;
}

.tittleHome {
    margin-top: 150px;
    Font-Family: 'Patua One', Cursive;
    color: #F934A7;
}

#imgSoon1 {
    width: 200px;
}